:root{
    font-size:10px;    
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    vertical-align: middle;
    position: relative;
}
body{
    position: relative;
    background-color:skyblue;
    padding:0;
}
span{
    display: inline-block;
}
pre{
    display: inline;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
/* login page */
#loginUser{
    position: absolute;
    font-size:2rem;
    display: inline-block;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.2);
    padding:50px 50px;
    top:30vh;
    left:50vw;
    transform: translate(-50%,-50%);  
}

#logInStatus{
    color:darkred;
    font:1rem;
}
.userType{
    text-align: center;
    color:darkred;
}

#marksInfo{
    font-size: 1.5rem;
    padding : 1rem;
    border :1px gray solid;
}
/* test-page */
#testBody{
    background-color: lightgray;
}
/* button */
.btn{
    font-size: 1.5rem;
    padding:3px 6px;
    margin: 1rem;
    border:1px red solid;
    color:red;
}
.btn:hover{
    background-color: red;
    color:white;
}
.paletteBtn{
    display: inline-block;
    font-size: 1.5rem;
    width:30px;
    height:30px;
    padding: 3px;
    margin: 5px;
    border : 1px gray solid;
    border-radius: 50%;
}
.center{
    text-align:center;
}
.padding10{
    padding:10px;
}
.padding5{
    padding:5px;
}
/* grid layot */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    padding: 15px;
    float:left;
}
.row{
    width:100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* test-section */

#answerSubmit, #questionPaletteInfo{
    position: absolute;
    left : 1rem;
    right : 1rem;
    bottom : 1rem;
}
@media only screen and (max-width:992px){
    [class*="col-"] {
        width:100%;
    }
    #answerSubmit{
        margin:auto;
        width:80%;
    }
}

#testInfo{
    background-color: rgba(0, 0, 0, 0.75);
    color:white;
}
#sameHeight{
    display: table;
    border:2px solid black;
}

#questionContainer{
    /* min-height: 50vh;     */
    /* height: 100%; */
    background-color: lightgrey;
    border:1px solid black;
    padding-bottom: 10rem;
    display: table-cell;

}

#question{
    font-weight: bold;
}

#questionPaletteContainer{
    /* min-height: 50vh;    */
    font-size :1rem !important;
    padding-bottom: 20rem;
    display: table-cell;

}
#questionPaletteContainer div{
    /* min-height: 50vh;    */
    font-size :1.5rem !important;


}

#questionPalette{
    border:1px grey solid;
    margin:1rem;
    padding:1rem;
}
#submitTest{  
    background-color:silver;
}
#optionSection{
    margin-bottom:2rem;
}

#optionContainer{
    background-color: whitesmoke;
    list-style-type: none;
}

.optionText,#questionSection{
    padding:0.5rem;
}
.option{
    display:block;
    padding :0.5rem;
    margin : 0.5rem;
    /* background-color:white; */
}
.option:hover{
    background-color : white;
}

#saveAndNext, #save{
    float:right;
    /* margin:1rem; */
    font-weight: bolder;
    background-color: blue;
    color:white;
    border:1px blue solid;
}
#saveAndNext:hover, #save:hover{
    transform: scale(1,1.1);
}

.visited{
    background-color: skyblue;
    border-radius: 25% ;
}
.answered{
    background-color: green;
    color:white;
    /* border-radius : 25%; */
}

.markForReview{
    background-color: red;
    color:white;
    /* border-radius:25%; */
}
#endTest{
    background-color: red;
    color:white;
    font-weight: bold;
}

